language: ruby
rvm:
- 3.0.1
services:
  - postgresql
install:
  - bundle install
env:
  global:
    secure: a8yMmEZzMNUZztIbucNOw7p4qFFXSnHJhPu6uYcCFbcRNRU7KTwvnMXnMsTCWNvJDxBBTjDW48acKppmO2dc+egWNfTbm+CCQ4lwP7pjYLfRB1kyUa2eNprahLDwtVq/IOKrZvU9bbzsdrn1uKeMhOs0ueti3i7+QIGpeAF0DL0KYhaiwXEtw2hYimXJocYq3xNnzZmgWlFNCXQB8iiAn/x+w6CM3/omIl0lzeQuiS5u5ayFW0ajFJ7lAmHD6ze4SaMU6fapc1SsuxkdDbQREnjzLPSmf3LWtQMqmqOVygy5nUgVh02GVOn0up6Kv/iObDOLwvecSANoA4OGQeTPSyPO6uHwQ5tTBGHriomCdcyOBCDzWUcT38BbJIWA2pbqAYs25GYy/MEtJ1fTYHgKR29EACBiXhkJViICb9NgP/88UxWMkyS5MTc0eP7uuv30oB1ZkYGRihr60/wzJaIpauVSyKDYhx14bTj5sZxarKpJ+heawp+dkb63eSizkP9juvFvEyWpO/YoELNReCCP97Fdqhv/Q2lS1ef4k50v1k1yuNgu2sKxvnKGypVIqiGUwhzmYn84jdaRaNZzXQ0hFqLl03tqv/wiFPLYRQzFupeu7pU67CDeLGXfTVKs1X9SLxWVg9MQP/sCdN4vUOwouPHqxVmA0b/xv0JZ1a12Eng=
script:
  - bundle exec rake db:migrate:reset RAILS_ENV=test
  - bundle exec rspec