language: ruby
rvm:
- 3.0.1
before_install:
- gem install bundler
install:
- gem install rails
- gem install rspec
script:
- bundle install --jobs=3 --retry=3
- RAILS_ENV=test
- bundle exec rails db:create --trace
- bundle exec rails db:migrate --trace
- bundle exec rspec