language: ruby
rvm:
- 3.0.1
before_install:
- sudo apt-get update
- sudo apt-get --yes remove postgresql\*
- sudo apt-get install -y postgresql-12 postgresql-client-12
- sudo cp /etc/postgresql/{11, 12}/main/pg_hba.conf
- sudo service postgresql restart 12
before_script:
  - psql --version
  - psql -c 'CREATE DATABASE db_task_test;' -U postgres
  - psql -c 'CREATE ROLE travis SUPERUSER LOGIN CREATEDB;' -U postgres
  - cp config/database.yml.travis config/database.yml
script: bundle exec rake spec
services:
  - postgresql
addons:
  postgresql: "12"