<h1><%= raw(t('task_relate.edit_task')) %></h1>

<div style="color:red">
    <%= flash[:error]%>
</div>
<%= render "form", task: @task, locals: { url: edit_task_path } %>

<br />
<%= link_to raw(t('task_relate.back_to_task_list')), root_path %>