<% if logged_in? && current_user.admin? %>
  <div class="masthead " style="background-image: url('/home_admin.PNG'); height:500px; width:100%; background-size: 100% 120%;">
<% else %>
  <div class="masthead " style="background-image: url('/home_img.png'); height:500px; width:100%; background-size: 100% 120%;">
<% end %>
  <div class="container position-relative" style="top:10%; ">
    <div class="row gx-4 gx-lg-5 justify-content-left">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1 class="text-white display-3">Task Management</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="first">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8" >
        <br/><br/><br/><br/><br/><br/>
        <h1>First</h1>
        <p class="lead">Try to Sign Up and Log in!</p>
        <br/><br/><br/><br/><br/><br/>
      </div>
    </div>
  </div>
</section>

<section id="second" class="bg-light">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8" >
        <br/><br/><br/><br/><br/><br/>
        <h1>Second</h1>
        <p class="lead">Try to Add/Edit/Delete the Task!</p>
        <br/><br/><br/><br/><br/><br/>
      </div>
    </div>
  </div>
</section>

<!--section id="about">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8" >
        <br/><br/><br/>
        <h2>About This Page</h2>
        <p class="lead">Here provide the several functions:</p>
        <ul>
          <li>List the task order by the table attribute.</li>
          <li>Search by keyword, priority, and status simultaneously.</li>
          <li>Use the session to log in and log out.</li>
        </ul>
      </div>
    </div>
  </div>
</section-->

