<div class="container">
  <br/>
  <% provide(:title, 'Sign up') %>

  <div style="color:green">
  <%= flash[:success]%>
  </div>

  <div style="color:red">
      <%= flash[:error]%>
  </div>

  <div>
    <h1><%= I18n.t('user_relate.add_user') %></h1>
    <br />
    <div class="row", style="margin: auto;">
    <div class="col-md-6 col-md-offset-3">
        <%= render "form", user: @user, locals: { url: users_path("create"), method: :post } %>
    </div>
    </div>
  </div>
</div>